__pycache__/
.venv/
.venv-1/
*.py[cod]
*.pyo
*.pyd
.env
.env.*
node_modules/
dist/
build/
.vscode/
.idea/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
ml_model/artifacts/*.joblib
ml_model/artifacts/*.json
ml_model/data/creditcard.csv
backend/.venv/
frontend/.vite/
frontend/node_modules/
DockerDesktop.ini
